@tailwind base;
@tailwind components;
@tailwind utilities;


:root  {
  --background: 154 40% 100%;
  --foreground: 154 5% 10%;
  --card: 154 40% 100%;
  --card-foreground: 154 5% 15%;
  --popover: 154 40% 100%;
  --popover-foreground: 154 95% 10%;
  --primary: 154 65.1% 46.1%;
  --primary-foreground: 0 0% 100%;
  --secondary: 154 30% 90%;
  --secondary-foreground: 0 0% 0%;
  --muted: 116 30% 95%;
  --muted-foreground: 154 5% 40%;
  --accent: 116 30% 90%;
  --accent-foreground: 154 5% 15%;
  --destructive: 0 50% 50%;
  --destructive-foreground: 154 5% 100%;
  --border: 154 30% 82%;
  --input: 154 30% 50%;
  --ring: 154 65.1% 46.1%;
  --radius: 0.5rem;
}
.dark  {
  --background: 154 40% 10%;
  --foreground: 154 5% 100%;
  --card: 154 40% 10%;
  --card-foreground: 154 5% 100%;
  --popover: 154 40% 5%;
  --popover-foreground: 154 5% 100%;
  --primary: 154 65.1% 46.1%;
  --primary-foreground: 0 0% 100%;
  --secondary: 154 30% 20%;
  --secondary-foreground: 0 0% 100%;
  --muted: 116 30% 25%;
  --muted-foreground: 154 5% 65%;
  --accent: 116 30% 25%;
  --accent-foreground: 154 5% 95%;
  --destructive: 0 50% 50%;
  --destructive-foreground: 154 5% 100%;
  --border: 154 30% 50%;
  --input: 154 30% 50%;
  --ring: 154 65.1% 46.1%;
  --radius: 0.5rem;
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}



/* @font-face {
  font-family: 'Main';
  src: url('../../public/PPPangaia-Bold.otf');
} */

@font-face {
  font-family: "Vermin Vibes";
  src: url(/Fonts/Vermin/vermin_vibes.otf);
}

html, body {
  overflow-x: hidden;
}

body {
  background: url("https://uploads-ssl.webflow.com/62e3ee10882dc50bcae8d07a/631a5d4631d4c55a475f3e34_noise-50.png");
  background-color: #16171b;
  position: relative;
  overflow-x: hidden;
  width: 100%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.overflow-hidden-web {
  overflow: hidden;
  -webkit-overflow: hidden;
}



.preserve-3d {
  transform-style: preserve-3d;
}

.circle-sketch-highlight {
  position: relative;
  transition: opacity 0.3s ease-in-out;
}

.circle-sketch-highlight:before {
  content: '';
  z-index: -1;
  left: -0.5em;
  top: -0.1em;
  border-width: 2px;
  border-style: solid;
  border-color: red;
  position: absolute;
  border-right-color: transparent;
  width: 100%;
  height: 1em;
  transform: rotate(2deg);
  opacity: 0;
  border-radius: 50%;
  padding: 0.1em 0.25em;
  transition: opacity 0.3s ease-in-out;
}

.circle-sketch-highlight:after {
  content: '';
  z-index: -1;
  left: -0.5em;
  top: 0.1em;
  padding: 0.1em 0.25em;
  border-width: 2px;
  border-style: solid;
  border-color: red;
  border-left-color: transparent;
  border-top-color: transparent;
  position: absolute;
  width: 100%;
  height: 1em;
  transform: rotate(-1deg);
  opacity: 0;
  border-radius: 50%;
  transition: opacity 0.3s ease-in-out;
}

.circle-sketch-highlight:hover:before,
.circle-sketch-highlight:hover:after {
  opacity: 0.7;
}

.side .title {
  font-size: 7vw;
  font-weight: 800;
  margin: 0px 10vw;
  width: 80vw;
}



#left-side {
  width: 60%;
  z-index: 2;
}

.hoverText {
  transition:
    0.35s font-weight,
    0.35s color;
}

.hoverText:hover {
  font-weight: 900;
  color: rgb(238, 242, 255);
}

/* To the right */
.hoverText:hover + .hoverText {
  font-weight: 500;
  color: rgb(199, 210, 254);
}

.hoverText:hover + .hoverText + .hoverText {
  font-weight: 300;
}

/* To the left */
.hoverText:has(+ .hoverText:hover) {
  font-weight: 500;
  color: rgb(199, 210, 254);
}

.hoverText:has(+ .hoverText + .hoverText:hover) {
  font-weight: 300;
}

.divider-line {
  position: relative;
  height: 1px;
  width: calc(100% + 35svw * 2);
  transform: translateX(calc(35svw * -1));
  background: repeating-linear-gradient(
    90deg,
    #e6e6e6,
    #e6e6e6 4px,
    transparent 6px,
    transparent 10px
  );
  z-index: 1;
}


.bounce {
  transition: all 0.3s ease-out;
}

.bounce:hover {
  display: inline-block;
  animation: rubberband 0.8s ease-out;
  color: #0fba74;
}

@keyframes rubberband {
  0% {
    transform: scaleX(1);
  }
  40% {
    transform: scaleX(1.12) scaleY(0.75);
  }
  55% {
    transform: scaleX(0.85) scaleY(1);
  }
  65% {
    transform: scaleX(1.09) scaleY(0.85);
  }
  75% {
    transform: scaleX(0.9) scaleY(1);
  }
  90% {
    transform: scaleX(1.05) scaleY(0.95);
  }
  100% {
    transform: scaleX(1) scaleY(1);
  }
}

.arrowpath,
polyline {
  fill: none;
  stroke: #515152;
  vector-effect: non-scaling-stroke;
  stroke-width: 2;
}

.arrowpath {
  stroke-dasharray: 11, 5;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


@keyframes rubberband {
  0% {
    transform: scaleX(1);
  }
  40% {
    transform: scaleX(1.12) scaleY(0.75);
  }
  55% {
    transform: scaleX(0.85) scaleY(1);
  }
  65% {
    transform: scaleX(1.09) scaleY(0.85);
  }
  75% {
    transform: scaleX(0.9) scaleY(1);
  }
  90% {
    transform: scaleX(1.05) scaleY(0.95);
  }
  100% {
    transform: scaleX(1) scaleY(1);
  }
}

/* Media query for small devices */
@media (max-width: 768px) {
  /* Adjust the max-width to your desired breakpoint */
  .divider-line {
    width: calc(100% + 47vw * 2);
    width: calc(100% + 47vw * 2);
    transform: translateX(calc(47vw * -1));
  }
}

.divider-line::before,
.divider-line::after {
  position: absolute;
  content: '';
  height: 100%;
  width: 35%;
  z-index: 1;
}

.divider-line::before {
  left: 0;
  background: linear-gradient(90deg, #16171b 0, transparent 100%);
}

.divider-line::after {
  right: 0;
  background: linear-gradient(90deg, transparent 0, #16171b 100%);
}

.section-divider {
  position: relative;
  height: 1px;
  /* padding-top: 100px; */
}


.lottie-svg-class{
  height:calc(max(80%, 20%))!important;
  width:100% !important;
  z-index: -1;
}

@media only screen and (max-height: 600px) {
  .lottie-svg-class {
    height: 40% !important;
    width: 40% !important;
    z-index: -1;
  }
}